<div class="row">

    <div class="col-md-12">
        
        
		
			<div class="col-md-12">
					
				
          
      <a>
			<!-- <button routerLink="/poapp" class="btn btn-sm btn-primary fa fa-angle-double-left pull" style="float:left">Project-Information</button> -->
		<h4 href="proOrganization.html" type="button" class="btn btn-outline-primary btn-lg" class="col-lg-4">OCTOBER&nbsp;</h4>
	  </a>
	</div>
      <div class="col-md-12"  style="float:left" >
      <nav class="navbar navbar-inverse" >
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">GE Q4'18 || TM Q3'19</a>
            </div>
          </div>
        
        </nav>
      </div>
      
      <div class="form-group row">
          <div class="form-group col-md-12 col-lg-12 col-xl-12">
            <!-- <button routerLink="/projectinfo-monthly" routerLinkActive="active" class="btn btn-sm btn-primary">OCT-2019</button>&nbsp;
					
            <button routerLink="/pronov" routerLinkActive="active"  class="btn btn-sm btn-primary">NOV-2019</button>&nbsp;
            <button  routerLink="/prodec" routerLinkActive="active" class="btn btn-sm btn-primary">DEC-2019</button> -->
            <!-- <div class="col-md-3">
                <label>Project Year & Month</label>
               
                <select class="form-control" [formControl]="poapprovalform.controls['modalpo_year_month']">
                <option value="" disabled selected hidden style="color:#a4b2ba;">Select Year & Month</option>
                <option *ngFor="let month_year of project_year_month" value={{month_year}}>{{month_year}}</option>
           
              </select>
            
            </div>  -->
            <div class="col-md-3">
                <label>Project Year & Month</label>
                <input [(ngModel)]="modelDate" id="month_year_value" autocomplete="off" class="form-control" name="date" bsDatepicker  [minDate]="maxdate"  [maxDate]="mindate"
                [bsConfig]="{dateInputFormat: 'YYYY-MMM'}" (onShown)="onOpenCalendar($event)" >
            <button class="btn btn-sm btn-primary" (click)="searchassociatesdata()">Search</button>
            </div> 
          </div>
        </div>
        
        <div class="panel panel-default">
            
            <div class="panel-body">
            
          <form class="monthlyform">
              <table class="table table-responsive">
      
       
      
                  <tbody *ngIf="projectstotallist">
                     <tr>
                    <th>Projected Total Efforts:</th>
                    <td>{{projectstotallist.projectedTotalEfforts}}</td>
                    <th>T&M recognised:</th>
                    <td> {{projectstotallist.tmRecognised}}</td>
                    <th>Final Amt:(USD)</th>
                    <td>$ &nbsp;{{projectstotallist.finalAmtUSD}}</td>
                    </tr>
                     <tr>
                    <th>Projected Entry Amount:</th>
                    <td>{{projectstotallist.projectedEntryAmt}}</td>
                    <th>FP recognised:</th>
                    <td>{{projectstotallist.fpRecognised}}</td>
                    <th>Final Amount. (Entry)</th>
                    <td>{{projectstotallist.finalAmtEntry}}</td>
                    </tr>
                     <tr>
                    <th>Projected USD Amount:</th>
                    <td> {{projectstotallist.projectedUSDAmt}}</td>
                    <th>Total Recognised Amt:</th>
                    <td>{{projectstotallist.totalRecognisedAmt}}</td>
                    <th>Left to Invoice ($):</th>
                    <td> {{projectstotallist.leftToInvoice}}</td>
                    </tr>
                  <tr>
                    
                    <th colspan="2">Total Projected Amt:</th>
                    <td> {{projectstotallist.projectedAmt}}</td>
                    <th>Final Amt:(USD)</th>
                    <td>{{projectstotallist.finalAmtUSD}}</td>
                    </tr>
                     <tr>
                     
                     <th colspan="2"> GAP:</th>
                    <td> {{projectstotallist.gap}}</td>
                    <th>RUS Gap (Days)</th>
                    <td>{{projectstotallist.rusGapDays}}</td>
                    </tr>
                    <tr>
                   
                    <th colspan="2">Percentage =:	</th>
                    <td>{{projectstotallist.percentage}}</td>
                    <th>RUS Gap (Hours.)</th>
                    <td>{{projectstotallist.rusGapHours}}</td>
                  </tr>
                  </tbody>
                  </table>
          </form>
        </div>
        </div>
      
          <form class="form" >
                
              <div class="panel panel-default" *ngIf="projectresourcelist">
            
                  <div class="panel-body">  
                      <button routerLink="/projectinfo-monthly" routerLinkActive="active"  class="btn btn-sm btn-primary">2019-FEB</button>&nbsp;
                      <table class="table  table-bordered">
                          <thead>
                          <tr>
                              <th>GID		
                                </th>
                                <th >Associate Name		
                                  </th>
                                <th >Rate		
                                  </th>
                            <th colspan="3" >Projections		
                            </th>
                            <th colspan="3" >Accruals		
                            </th>
                            <th colspan="3" >Billed		
                            </th>
                            <th colspan="2">Discrepancy	
        
                              </th>
                              <th colspan="2">RUS Gap
        
                                </th>
                                <th >Remarks
        
                                  </th>
                              <!-- <th colspan="2">RUS Gap	
        
                                </th>
                                <th>Remarks		
                                  </th> -->
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                              <td >GID		
                                </td>
                                <td >Associate Name	
                                  </td>
                                <td >Rate
                                  </td>
                            
                              <th >Qty.
      
                                </th>
                                <th >Entry Amt.
      
                                  </th>
                                  <th >USD Amt.
      
                                    </th>
                            
                                    <th >Qty.
      
                                      </th>
                                      <th >Entry Amt.
            
                                        </th>
                                        <th >USD Amt.
            
                                          </th>
                                          <th >Qty.
      
                                            </th>
                                            <th >Entry Amt.
                  
                                              </th>
                                              <th >USD Amt.
                  
                                                </th>
                                                <th>Diff.
                                                  </th>
                                                <th>Diff. (USD)
                                                    
                                                  </th>
                                                <th>Days
                                                  </th>
                                                <th>Hours
                                                  </th>
                                                <th></th>
                                              
                        
                            
                          </tr>
                          <tr *ngFor="let prolist of projectresourcelist">
                              <td > {{prolist.associateId}}	
                                </td>
                                <td > {{prolist.associateName}}
                                  </td>
                                <td > {{prolist.ratePerHour}}
                                  </td>
                              <td > 
                                <span *ngFor="let monthlyDetail of prolist.monthlyDetails;index as i">
                                  {{monthlyDetail.projections.qty}}
                                </span>
                                </td>
                              <td>  <span *ngFor="let monthlyDetail of prolist.monthlyDetails">
                                  {{monthlyDetail.projections.entry}}
                                </span>
                                </td>
                              <td> <span *ngFor="let monthlyDetail of prolist.monthlyDetails">
                                  {{monthlyDetail.projections.usd}}
                                </span> 
                                </td>
                                <td >  <span *ngFor="let monthlyDetail of prolist.monthlyDetails">
                                    {{monthlyDetail.accruals.qty}}
                                  </span>
                                  </td>
                                <td>  <span *ngFor="let monthlyDetail of prolist.monthlyDetails">
                                    {{monthlyDetail.accruals.entry}}
                                  </span>
                                  </td>
                                <td>   <span *ngFor="let monthlyDetail of prolist.monthlyDetails">
                                    {{monthlyDetail.accruals.usd}}
                                  </span>
                                  </td>
                                  <td > <span *ngFor="let monthlyDetail of prolist.monthlyDetails">
                                      {{monthlyDetail.billed.qty}}
                                    </span>
                                    </td>
                                  <td><span *ngFor="let monthlyDetail of prolist.monthlyDetails">
                                      {{monthlyDetail.billed.entry}}
                                    </span> 
                                    </td>
                                  <td> <span *ngFor="let monthlyDetail of prolist.monthlyDetails">
                                      {{monthlyDetail.billed.usd}}
                                    </span> 
                                    </td>
                              <td> </td>
                              <td> </td>
                              <td> <span *ngFor="let monthlyDetail of prolist.monthlyDetails">
                                  {{monthlyDetail.rusGapDays}}
                                </span></td>
                              <td><span *ngFor="let monthlyDetail of prolist.monthlyDetails">
                                  {{monthlyDetail.rusGapHours}}
                                </span></td>
                              <td> <span *ngFor="let monthlyDetail of prolist.monthlyDetails">
                                  {{monthlyDetail.remarks}}
                                </span></td>
                              <!-- <td>$2,217.39 </td>
                              <td>$2,217.39 </td>
                              <td>Hi All </td> -->
                          </tr>
                         
                        
                          </tbody>
                            <tfoot>
                                            <tr >
                                              <td><b>total</b></td>
                                              <td></td>
                                              <td></td>
                                           
                                              <td>{{pro_sum_qty}}</td>
                                              <td>{{pro_sum_entry}}</td>
                                              <td>{{pro_sum_usd}}</td>
                                              <td>{{acc_sum_qty}}</td>
                                              <td>{{acc_sum_entry}}</td>
                                              <td>{{acc_sum_usd}}</td>
                                              <td>{{bil_sum_qty}}</td>
                                              <td>{{bil_sum_entry}}</td>
                                              <td>{{bil_sum_usd}}</td> 
                                               
                                              
                                              <td > ₹ -      
                          </td>
                          <td >	 $-</td>
                          <td >	 </td>
                          <td ></td>
                          <td >	 </td>
                                              
                                             
                                              
                                              
                                            </tr>
                                          </tfoot>
                        </table>
                     
                    </div>
                  </div>
              
            </form>
      
      
      
      
        
        
        
          
        </div>
        
    </div>
  
  