<div class="row">
	<div class="col-md-12">
			
			
		
				
		<a><h4 href="Organization.html" type="button" class="btn btn-outline-primary btn-lg" class="col-lg-4">&nbsp;</h4>
		</a>
		<div class="col-md-12">
		<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">GE Q4'18 || TM Q3'19</a>
					</div>
				</div>
			
			</nav>
		</div>
		
		<div class="form-group row">
				<div class="form-group col-md-12 col-lg-12 col-xl-12">
				    <a href="Moreinfo.html" class="btn btn-sm btn-primary" role="button">OCT-2019</a>&nbsp;
					
					<a routerLink="/organization-emailcommunications" class="btn btn-outline-primary btn-sm" role="button">NOV-2019</a>&nbsp;
					<a routerLink="/organization-smscommunications"class="btn btn-outline-primary btn-sm" role="button">DEC-2019</a>
					
				
				</div>
			</div>
			
					
				<form class="form-inline" >
					<div class="form-group">
							
						<div class="col-md-3">
						<label for="email">Projected Total Efforts:</label>
						<input type="email" class="form-control" id="email" placeholder="Total Efforts Projected" name="email">
					</div>
					
					<div class="col-md-3">
						<label for="pwd">Projected Entry Amt.	
								:</label>
						<input type="text" class="form-control" id="pwd" placeholder="Projected" name="pwd">
					</div>
					<div class="col-md-3">
						<label>Projected2:
							</label><input type="text" placeholder="Projected" class="form-control" name="remember"> 
					</div>
					<div class="col-md-3">
							<label>Projected2:
								</label><input type="text" placeholder="Projected" class="form-control" name="remember"> 
						</div>
						<div class="col-md-3">
								<label for="email">Projected Total Efforts:</label>
								<input type="email" class="form-control" id="email" placeholder="Total Efforts Projected" name="email">
							</div>
							<div class="col-md-3">
									<label for="email">Projected Total Efforts:</label>
									<input type="email" class="form-control" id="email" placeholder="Total Efforts Projected" name="email">
								</div>
								<div class="col-md-3">
										<label for="email">Projected Total Efforts:</label>
										<input type="email" class="form-control" id="email" placeholder="Total Efforts Projected" name="email">
									</div>
									<div class="col-md-3">
											<label for="email">Projected Total Efforts:</label>
											<input type="email" class="form-control" id="email" placeholder="Total Efforts Projected" name="email">
										</div>
					</div>
				</form>
			
		

		
		
			<div class="row lh-5">
				
				
				
			</div>
			
			
			
				
			</div>
			
	</div>

