<div class="row">
    <div class="container-fluid">
      
      <h2>Leave Details</h2>
      <div class="panel panel-default">
        
        <div class="panel-heading">Search Leave Details
          <button *ngIf="role" type="button" class="btn btn-success fa fa-plus-circle" data-toggle="modal"  data-backdrop="static" data-target="#leavedetails" style="float:right">
            &nbsp;&nbsp;Add</button>
            
          </div> 

          <div class="panel-body">
            <div>
              <div id="leavedetails" class="modal fade" role="dialog" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Adding Leave Details</h4>
                    </div>
                    <div class="alert alert-success alert-dismissible" *ngIf="addmsg">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
                      {{addmsg}}
                    </div>
                    <div class="alert alert-danger alert-dismissible" *ngIf="adderrormsg">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
                      {{adderrormsg}}
                    </div>

                    <form [formGroup]="addleaveform" >
                      <div class="modal-body">
                        <div class="form-row">
                        
                          
                          
                          <label>Associate ID*</label>
                          <span *ngIf="errormsg_search" class="text-danger">{{errormsg_search}}</span>
                          <!-- <input type="text" placeholder="Enter Associate ID" class="form-control" [formControl]="addleaveform.controls['addassociateid']" (blur)="checkid($event.target.value)"/>
                          <div class="text-danger" *ngIf="addleaveform.controls.addassociateid.errors && (addleaveform.controls.addassociateid.dirty || addleaveform.controls.addassociateid.touched) && !addleaveform.controls.addassociateid.valid">
                            <span *ngIf="addleaveform.controls.addassociateid.errors.required">Associate Id is required</span>
                            <span *ngIf="addleaveform.controls.addassociateid.errors.maxlength">Associate Id length should be 10 characters</span>
                            <span *ngIf="addleaveform.controls.addassociateid.errors.minlength">Associate Id length should BE 10 characters</span>
                            <span *ngIf="addleaveform.controls.addassociateid.errors.pattern">Associated ID should be in format/pattern does not match (Ex:SA00587670)</span> 
                          </div> -->
                        
                          <ng-select [items]="allassociates"  placeholder="Enter GID to search..." [formControl]="addleaveform.controls['addassociateid']" (change)="checkid($event)">
                            </ng-select>  
                         
                          <div class="form-row">
                            <label>Associate Name*</label>
                            <input type="text" placeholder="Enter Associate Name" class="form-control" [formControl]="addleaveform.controls['addassociatename']" disabled/>
                           
                            <!-- <div class="text-danger" *ngIf="addleaveform.controls.addassociatename.errors && (addleaveform.controls.addassociatename.dirty || addleaveform.controls.addassociatename.touched) && !addleaveform.controls.addassociatename.valid">
                              <span *ngIf="addleaveform.controls.addassociatename.errors.required">Associate Name is required</span>
                              <span *ngIf="addleaveform.controls.addassociatename.errors.maxlength">Associate Name length should not exceed 50 characters</span>
                              <span *ngIf="addleaveform.controls.addassociatename.errors.pattern">Associate Name should be in format...</span> 
                            </div> -->
                          </div>
                          
                          <div class="form-row">
                            <label>Date*</label>
                            <!-- <my-date-picker [options]="myDatePickerOptions" [formControl]="addleaveform.controls['adddate']"></my-date-picker> -->
                            <!-- <input type="date" data-date-format="YYYY MM DD" placeholder="Select Date" class="form-control" [formControl]="addleaveform.controls['adddate']"/> -->
                            <input 
                            type="text" 
                            [formControl]="addleaveform.controls['adddate']"
                            class="form-control"
                            bsDatepicker 
                            [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                            readonly>

                            <div *ngIf="submitted && f.modalleavecount.errors" class="invalid-feedback">
                              <div *ngIf="f.modalleavecount.errors.required">Leave Count is required</div>
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label>Remarks*</label><br>
                            <textarea [formControl]="addleaveform.controls['addremarks']" class="form-control" placeholder="Enter Remarks here..." rows="4"></textarea>
                          </div>
                         <small id="mandatory_fields">* fields are Mandatory</small>
                        </div>
                        <div class="modal-footer">
                          <button type="button" [disabled]="addleaveform.invalid" class="btn btn-primary" data-create="modal" (click)="addleaves(addleaveform.value)">Add</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-12" *ngIf="error">
                <div class="alert alert-danger alert-dismissible fade in">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  {{error}}
                </div>
              </div>
              <form [formGroup]="leaveform" >
                <div class="form-group">
                  <div class="row">
                    
                    <div class="col-md-3">
                      <label>Associate ID</label>
                      <input type="text"  placeholder="Enter GID..." class="form-control" [formControl]="leaveform.controls['associateid']">
                      
                    </div>
                    <div class="col-md-3">
                      <label>Associate Name</label>
                      <input type="text" placeholder="Enter Associate Name..." class="form-control" [formControl]="leaveform.controls['associatename']">
                      
                    </div>
                    
                    <div class="col-md-3">
                      <label>Year & Month</label>
                      <!-- <input type="text" class="form-control" [formControl]="leaveform.controls['yearmonth']" placeholder="MMM-YYYY"> -->
                      <input  placeholder="Select Year & Month" autocomplete="off" class="form-control" [formControl]="leaveform.controls['yearmonth']" name="date" bsDatepicker [bsConfig]="{dateInputFormat: 'MMM-YYYY'}" (onShown)="onOpenCalendar($event)" readonly> 
                   
                      <!-- <div class="text-danger" *ngIf="leaveform.controls.yearmonth.errors && (leaveform.controls.yearmonth.dirty || leaveform.controls.yearmonth.touched) && !leaveform.controls.yearmonth.valid">
                        <span *ngIf="leaveform.controls.yearmonth.errors.pattern">Year Month should be in (MMM-YYY) format</span> 
                      </div> -->
                    </div>
                  </div>
                  
                  
                </div>
                
                <div class="text-center col-md-12">
                  <button [disabled]="leaveform.invalid" class="btn btn-primary col-md-offset-3 col-md-2" type="submit" (click)="searchleaves(leaveform.value)">Search</button>
                  <button [disabled]="leaveform.invalid" class="btn btn-danger col-md-offset-2 col-md-2" type="button" (click)="searchreset()">Cancel</button>
                </div>
                
              </form>
              
              
              <!-- <div class="row" style="margin-top:60px;">
                <table class="col-md-12 text-center">
                  <tr>
                    <td>
                      <button [disabled]="leaveform.invalid" class="btn btn-primary" type="button" (click)="nodata()">No Data Found</button>
                    </td>
                    <td>
                      <button [disabled]="leaveform.invalid" class="btn btn-primary" type="button" (click)="exception()">Exception</button>
                    </td>
                    <td>
                      <button [disabled]="leaveform.invalid" class="btn btn-primary" type="button" (click)="badrequest()">Bad Request </button>
                    </td>
                  </tr>
                </table>
              </div> -->
              
            </div>
          </div>
        </div>
        <div class="alert alert-danger alert-dismissible" *ngIf="deletemsg">
          <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
          {{deletemsg}}
        </div>
        <div class="alert alert-danger alert-dismissible" *ngIf="delerror">
          <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
          {{delerror}}
        </div>
        
        <div class="panel panel-default" *ngIf="searchallleaves">
          <div class="panel-body">
            
            <div class="table-responsive">          
              <table class="display row-border hover" style="width:100%" datatable [dtOptions]="dtOptions">
                <thead>
                  <tr>
                    <th>S. No</th>
                    <!-- <th>Project Name</th> -->
                    <th>Associate ID</th>
                    <th>Associate Name</th>
                    <th>Date</th>
                    <th>Edit/Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let searchleavelist of searchallleaves; index as i">
                    <td>{{i+1}}</td>
                    <!-- <td>{{searchleavelist.name}}</td> -->
                    <td>{{searchleavelist.associateId}}</td>
                    <td>{{searchleavelist.associateName}}</td>
                    <td>{{searchleavelist.leaveDate}}</td>
                    <td>
                      <button *ngIf="role" type="button" class="btn btn-info btn-sm fa fa-pencil" data-toggle="modal" data-target="#updateleavedetails" (click)='setupdatemodel(searchleavelist)'></button>&nbsp;
                      <button *ngIf="role" type="button" class="btn btn-danger btn-sm fa fa-trash" (click)="deletedata(searchleavelist)"></button>
                      
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="updateleavedetails" class="modal fade" role="dialog" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Update Leave Details</h4>
                    </div>
                    <div class="alert alert-success alert-dismissible" *ngIf="updatemsg">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
                      {{updatemsg}}
                    </div>
                  <div class="alert alert-danger  alert-dismissible" *ngIf="updateerror">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
                      {{updateerror}}
                    </div>
                    <form [formGroup]="updateleavedetails">
                      <div class="modal-body">
                        <div class="form-row">
                      
                          
                          
                          <label>Associate ID*</label>
                          <input type="hidden" [formControl]="updateleavedetails.controls['updleaveid']" class="form-control" disabled />
                          <input type="text" [formControl]="updateleavedetails.controls['updassociateid']" class="form-control" disabled />
                         
                          
                          
                          <div class="form-row">
                            <label>Associate Name*</label>
                            <input type="text" [formControl]="updateleavedetails.controls['updassociatename']" class="form-control" disabled />
                           
                          </div>
                          
                          <div class="form-row">
                            <label>Date*</label>                         
                            <input 
                            type="text" 
                            [formControl]="updateleavedetails.controls['upddate']"
                            class="form-control"
                            bsDatepicker 
                            [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"  
                            readonly>
                           
                          </div>
                          
                          <div class="form-group">
                            <label>Remarks*</label><br>
                            <textarea class="form-control" [formControl]="updateleavedetails.controls['updremark']" placeholder="Enter Remarks here..." rows="4">Not Feeling Well</textarea>
                          </div>
                          <small id="mandatory_fields">* fields are Mandatory</small>
                          
                        </div>
                        <div class="modal-footer">
                          <button type="submit" [disabled]="updateleavedetails.invalid" class="btn btn-primary" data-create="modal" (click)=" update_leavedetails(updateleavedetails.value)">Update</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closedmsg()">Close</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>  
  
          </div>             
        </div>
      </div>
      