<div class="nav-side-menu col-lg-3 col-md-3">
  <div class="brand">Purchase Order</div>
  <span *ngIf=logedas>

  
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
  <div class="menu-list">
    
    <ul id="menu-content" class="menu-content collapse out">
      <li routerLinkActive="active">
        <a href="" routerLink="/home">
          <i class="fa fa-dashboard fa-lg"></i> Dashboard
        </a>
      </li>
      <li routerLinkActive="active">
        <a href="" routerLink="/createproject">
          <i class="fa fa-book fa-lg"></i> Create Project
        </a>
      </li>
      <li routerLinkActive="active">
        <a href="" routerLink="/accountcategory">
          <i class="fa fa-list fa-lg"></i> Account Category
        </a>
      </li>
      <li routerLinkActive="active">
        <a href="" routerLink="/fxrates">
          <i class="fa fa-calculator fa-lg"></i> FX Rates
        </a>
      </li>
      <!-- <li routerLinkActive="active">
        <a href="" routerLink="/projectinfo">
          <i class="fa fa-list fa-lg"></i> Project Information
        </a>
      </li> -->
      <li routerLinkActive="active">
        <a href="" routerLink="/leavedetails">
          <i class="fa fa-calendar fa-lg"></i> Leave Details
        </a>
      </li>
      <li routerLinkActive="active">
          <a href="" routerLink="/holidays">
            <i class="fa fa-calendar fa-lg"></i> Holidays
          </a>
        </li>
        <li routerLinkActive="active">
          <a href="" routerLink="/resources">
            <i class="fa fa-users"></i> Resources
          </a>
        </li>
        <li routerLinkActive="active">
          <a href="" routerLink="/poapproval">
            <i class="fa fa-check-square-o"></i> PO Approval
          </a>
        </li>
        <!-- <li routerLinkActive="active">
          <a href="" routerLink="/quote">
            <i class="fa fa-icon-print fa-lg"></i> Quote
          </a>
        </li> -->
      <li routerLinkActive="active">
        <a href="" routerLink="/charts">
          <i class="fa fa-bar-chart fa-lg"></i> Chart
        </a>
      </li>
      <li routerLinkActive="active">
        <a href="" routerLink="/quote">
          <i class="fa fa-pencil-square-o fa-lg"></i>Quote
        </a>
      </li>
                <li  data-toggle="collapse" data-target="#profile" class="collapsed">
                  <a ><i class="fa fa-user fa-lg"></i> Profile <span class="arrow"></span></a>
                </li>
      <ul class="sub-menu collapse" id="profile">
        <!-- <li routerLinkActive="active">
          <a href="" routerLink="/changepassowrd">
            <i class="fa fa-edit fa-lg"></i> Change Password
          </a>
        </li> -->
        <li routerLinkActive="active">
          <a href="" routerLink="/logout">
            <i class="fa fa-sign-out fa-lg"></i> Logout
          </a>
        </li>
      </ul>
      
    </ul>
  </div>
</span>
</div>