.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 2px 2px 2px 2px rgba(213, 213, 213, 213);
    overflow: auto;
}


.btn btn-sm btn-primary:active{
    background-color: #fff;
}
.btn:active,.btn:active{
    background-color: #fff;
}
.btn.active{
    background-color:rgb(42, 187, 255);
}