<script>
  $(document).ready(function() {
    var row = 0,
      col = 0,
      ncol = 0;
    var sum;
   
    // sum by col
    for (col = 1; col < ncol + 1; col++) {
      console.log("column: " + col);
      sum = 0;
      $("tr").each(function(rowindex) {
        $(this).find("td:nth-child(" + col + ")").each(function(rowindex) {
          newval = $(this).find("input").val();
          console.log(newval);
          if (isNaN(newval)) {
            $(this).html(sum);
          } else {
            sum += parseInt(newval);
          }
        });
      });
    }
  });
  </script>
  


<div class="row">
  <div class="container-fluid">
    
      <h2>Project Information Details</h2>
    <div class="panel panel-default">
      
      <div class="panel-heading">Search Project Information Details
        <button *ngIf="role" type="button" class="btn btn-success fa fa-plus-circle" data-toggle="modal" data-target="#poapprovaldetails" style="float:right"  (click)="searchpodata()">
          &nbsp;&nbsp;Add</button>
          
        </div> 
        <div class="panel-body">
          <div>
            <div id="poapprovaldetails" class="modal fade" role="dialog" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Project Information</h4>
                  </div>
                  <form [formGroup]="addpoform">
                    <div class="modal-body">
                      <div class="form-group">
                      
                      <div class="form-group col-md-3">
                          <label>Account Category</label>
                          <select class="form-control" [formControl]="addpoform.controls['modalaccountcategory']" (change)="search_all_project_info($event.target.value)" >
                            <option value="" disabled selected hidden style="color:#a4b2ba;">Select Account Category</option>
                            <option *ngFor="let account_category_dropdown of account_category_dropdown" [value]='account_category_dropdown'>{{account_category_dropdown}}</option>
                           </select>
                          <small class="text-danger" *ngIf="addpoform.controls.modalaccountcategory.errors && (addpoform.controls.modalaccountcategory.dirty || addpoform.controls.modalaccountcategory.touched) && !addpoform.controls.modalaccountcategory.valid">
                            <span *ngIf="addpoform.controls.modalaccountcategory.errors.required">Account Category is required</span>
                          </small>
                       </div>
                       
                       <div class="form-group col-md-3">
                         <label>Account Name</label>
                         <select class="form-control" [formControl]="addpoform.controls['modalaccountname']" (change)="get_all_project_info($event.target.value)">
                            <option value="" disabled selected hidden style="color:#a4b2ba;">Select Account Name</option>
                            <option *ngFor="let account_name_dropdown of account_all_project_info" value={{account_name_dropdown.accountName}}>{{account_name_dropdown.accountName}}</option>
                           </select>

                       </div>

                      <div class="form-group col-md-3">
                        <label>Project Name</label>
                        <!-- <select class="form-control" [formControl]="addpoform.controls['modalprojectname']" >
                          <option value="" disabled selected hidden style="color:#a4b2ba;">Select Project</option>
                          <option  [value]='project_name_data'>{{project_name_data}}</option>
                        </select> -->

                        <input type="text" class="form-control" formControlName="modalprojectname" placeholder="Project Name" [(ngModel)]=project_name_data readonly="readonly"/>
                        <small class="text-danger" *ngIf="addpoform.controls.modalprojectname.errors && (addpoform.controls.modalprojectname.dirty || addpoform.controls.modalprojectname.touched) && !addpoform.controls.modalprojectname.valid">
                          <span *ngIf="addpoform.controls.modalprojectname.errors.required">Project Name is required</span>
                        </small>
                        <input type="hidden" class="form-control" formControlName="modalprojectpid" placeholder="Project ID(PID)" [(ngModel)]=project_pid readonly="readonly"/>
                        </div>
                        
                        <div class="form-group  col-md-3">
                            <label>Project Year & Month</label>
                            <select class="form-control" [formControl]="addpoform.controls['modalpo_year_month']">
                            <option value="" disabled selected hidden style="color:#a4b2ba;">Select Year & Month</option>
                            <option *ngFor="let month_year of project_year_month" value={{month_year}}>{{month_year}}</option>
                            </select>
                        </div>
        
                        
                       <div class="form-group col-md-3">
                          <label>Customer Name</label>
                          <input type="text" class="form-control" placeholder="Customer Name" formControlName="modalcustomername"  [(ngModel)]="project_customer_name" readonly="readonly"/>
                          
                        </div>
                        
                        <div class="form-group col-md-2">
                         <label>Project Start Date</label>
                         <input type="text" class="form-control"  placeholder="DD-MMM-YYYY"   formControlName="modalprojectstartdate" [(ngModel)]=project_start_date readonly="readonly"/>
                        
                       </div>
                        
                        <div class="form-group col-md-2">
                          <label>Project End Date</label>
                          <input type="text" class="form-control"  placeholder="DD-MMM-YYYY"   formControlName="modalprojectenddate" [(ngModel)]=project_end_date readonly="readonly"/>
                          
                        </div>
                        
                        <div class="form-group col-md-2">
                          <label>Project Billing Currency</label>
                          <input type="text" class="form-control" placeholder="Project Billing Currency"  formControlName="modalprojectbilling"  [(ngModel)]=project_billing_cycle readonly="readonly"/>
                        </div>
                       

                        <div class="form-group col-md-3 get_input_search">
                            <label>&nbsp;</label>
                          <button type="button"  [disabled]="addpoform.invalid"  class="btn btn-primary " (click)="search_account_category_details()">Search Project Information</button>
                        </div>

                        <div class="panel panel-default">
					
                          <div class="panel-body">
                      <div class="form-group">
                          <div class="table-responsive">          
                              <table class="display row-border hover modaldatatable" style="width:100%" datatable [dtOptions]="dtOptions">
                                <thead>
                                  <tr>
                                    <th>SNO</th>
                                    <th>Account
                                      </th>
                                    <th>Customer Name
                                      </th>
                                    <th>PID
                                      </th>
                                    <th>Quote
                                      </th>
                                    <th>Contract
                                      </th>
                                    <th>Start Date
                                      </th>
                                    <th>End Date
                                      </th>
                                    
                                       <!-- <th>Detailed Info</th> -->
                                           
                                       <th>Days Left
</th>
                                       <th>PO#

</th>
                                       <th>Balance (Final)

</th>
                                       <th>Avg. Billing

</th>
                                       <th>Months Consmd.

</th>
                                  </tr>
                                  
                                </thead>
                                <tbody>
                                  <!-- <tr> -->
                                      <tr *ngFor="let empliste of emplistexpand; index as i">
                                      <td>{{i+1}}</td>
                                      <td>{{empliste.account}}</td>
                                      <td>{{empliste.customer_name}}</td>
                                      <td>{{empliste.pid}}</td>
                                      <td>{{empliste.quote}}</td>
                                      <td>{{empliste.contract}}</td>
                                      <td>{{empliste.sdate}}</td>
                                      <td>{{empliste.enddate}}</td>
                                      <td>{{empliste.daysleft}}</td>
                                      <td>{{empliste.po}}</td>
                                      <td>{{empliste.balance}}</td>
                                      <td>{{empliste.avgbilling}}</td>
                                      <td>{{empliste.monthscons}}</td>
                                      
                                     
                                    
                                     
                                  
                                  </tr>
                                 
                                </tbody>
                                 <!-- <tfoot>
                                    <tr>
                                      <td><b>Total</b></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td ></td>
                                      <td ></td>
                                      <td ></td>
                                      <td ></td>
                                      <td ></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      
                                      
                                    </tr>
                                  </tfoot> -->
                              </table>
                            </div>
                      </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
					
                          <div class="panel-body">
                        <div class="form-group">
                          <div class="table-responsive">          
                              <table class="display row-border hover modaldatatable" style="width:100%" datatable [dtOptions]="dtOptions">
                                <thead>
                                  <tr>
                                    <th>SNO</th>
                                    <th>GID
                                      </th>
                                    <th>Associate Name
                                      </th>
                                    <th>Asso. Start Date

                                      </th>
                                    <th>Asso. Last Date

                                      </th>
                                    <th>Releasing in

                                      </th>
                                    <th>Band

                                      </th>
                                    <th>UOM

                                      </th>
                                    
                                       <!-- <th>Detailed Info</th> -->
                                           
                                       <th>Rates

</th>
    
                                  </tr>
                                  
                                </thead>
                                <tbody>
                                  <!-- <tr> -->
                                      <tr *ngFor="let emplistes of resourcelist; index as i">
                                      <td>{{i+1}}</td>
                                      <td>{{emplistes.GID}}</td>
                                      <td>{{emplistes.associate_name}}</td>
                                      <td>{{emplistes.Assosdate}}</td>
                                      <td>{{emplistes.Assoedate}}</td>
                                      <td>{{emplistes.rel}}</td>
                                      <td>{{emplistes.band}}</td>
                                      <td>{{emplistes.uom}}</td>
                                     
                                      <td>{{emplistes.rates}}</td>
                                     
                                    
                                     
                                  
                                  </tr>
                                 
                                </tbody>
                                <!-- <tfoot>
                                    <tr>
                                      <td><b>Total</b></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td ></td>
                                      <td ></td>
                                      <td ></td>
                                      <td ></td>
                                      <td ></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      
                                      
                                    </tr>
                                  </tfoot> -->
                              </table>
                            </div>
                      </div>
                    </div>
                  </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-create="modal">Add</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-12" *ngIf="error">
              <div class="alert alert-danger alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{error}}
              </div>
            </div>
            <form [formGroup]="poapprovalform">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label>Account Category</label>
                    <select class="form-control"[formControl]="poapprovalform.controls['accountcategory']" >
                      <option value="" disabled selected hidden style="color:#a4b2ba;" (change)="search_account_category($event.target.value)">Select Account Category</option>
                      <option *ngFor="let category of categories" [value]=category >
                        {{category}}
                      
                    </select>
                   
                  </div>

                  <div class="col-md-6">
                    <label>Account Name</label>
                    <select class="form-control" [formControl]="poapprovalform.controls['accountname']" >
                      <option value="" disabled selected hidden style="color:#a4b2ba;">Select Account Category</option>
                      <option *ngFor="let acname of acnames" [value]=acname >{{acname}}</option>
                    </select>
                    <!-- <input type="text" class="form-control" [formControl]="poapprovalform.controls['accountname']" placeholder="Account Name..." /> -->
                    <!-- <select class="form-control" [formControl]="poapprovalform.controls['projectname']">
                      <option value=""  selected hidden style="color:#a4b2ba;">Select Project</option>
                      <option *ngFor="let project of projects" [value]='project.name'>{{project.name}} - ( {{project.pid}} )</option>
                    </select> -->
                  </div>

                  <div class="col-md-6">
                    <label>Project Name</label>
                    <input type="text" class="form-control" [formControl]="poapprovalform.controls['proname']" placeholder="Project Name..." />
                    <!-- <select class="form-control" [formControl]="poapprovalform.controls['projectname']">
                      <option value=""  selected hidden style="color:#a4b2ba;">Select Project</option>
                      <option *ngFor="let project of projects" [value]='project.name'>{{project.name}} - ( {{project.pid}} )</option>
                    </select> -->
                  </div>

                  <div class="col-md-3">
                    <label>Project Type</label>
                    <select class="form-control" [formControl]="poapprovalform.controls['protype']" >
                      <option value="" disabled selected>Select Project Type</option>
                      <option *ngFor="let project of projects" [value]='project.name'>{{project.name}}</option>
                    </select>
                  </div>
                 
                  
                  <div class="col-md-3">
                    <label>Year & Month</label>
                    <select class="form-control" [formControl]="poapprovalform.controls['projectyear']" >
                      <option value="" disabled selected hidden style="color:#a4b2ba;">Select Year & Month</option>
                      <option >2019-Feb</option>
                      <option >2018-Mar</option>
                      <option >2020-April</option>
                    </select>
                  </div>
                </div>
                
                
              </div>
              
              <div class="text-center col-md-12">
                <button [disabled]="poapprovalform.invalid" class="btn btn-primary col-md-offset-3 col-md-2" type="submit" (click)="search_all_project_info(poapprovalform.value)">Search</button>
                <button [disabled]="poapprovalform.invalid" class="btn btn-danger col-md-offset-2 col-md-2" type="reset">Cancel</button>
              </div>
              
            </form>
            
            
            <div class="row" style="margin-top:60px;">
              <table class="col-md-12 text-center">
                <tr>
                  <td>
                    <button [disabled]="poapprovalform.invalid" class="btn btn-primary" type="button" (click)="nodata()">No Data Found</button>
                  </td>
                  <td>
                    <button [disabled]="poapprovalform.invalid" class="btn btn-primary" type="button" (click)="exception()">Exception</button>
                  </td>
                  <td>
                    <button [disabled]="poapprovalform.invalid" class="btn btn-primary" type="button" (click)="badrequest()">Bad Request </button>
                  </td>
                </tr>
              </table>
            </div>
            
          </div>
        </div>
      </div>
      <div class="panel panel-default" *ngIf="emplists">
        <div class="panel-body">
          
        
            <div class="table-responsive">          
                <table class="display row-border hover modaldatatable" style="width:100%" datatable [dtOptions]="dtOptions">
                  <thead  scope="row">
                    <tr  scope="row">
                      <th>SNO</th>
                      <th >Account
                        </th>
                      <th >Customer Name
                        </th>
                      <th >PID
                        </th>
                      <th >Quote
                        </th>
                      <th > Contract
                        </th>
                      <th>Start Date
                        </th>
                      <th>End Date
                        </th>
                      <th >Detailed Info</th>
                                        
                       
                    </tr>
                    
                  </thead>
                  <tbody>
                    <!-- <tr> -->
                        <tr *ngFor="let emplist of emplists; index as i">
                        <td>{{i+1}}</td>
                        <td>{{emplist.account}}</td>
                        <td>{{emplist.customer_name}}</td>
                        <td>{{emplist.pid}}</td>
                        <td>{{emplist.quote}}</td>
                        <td>{{emplist.contract}}</td>
                        <td>{{emplist.sdate}}</td>
                        <td>{{emplist.enddate}}</td>
                        <td> <button *ngIf="role" type="button" class="btn btn-info btn-sm fa fa-expand" data-toggle="modal" data-target="#poapprovaldetailsexpand"></button>&nbsp;
                          <button type="button" class="btn btn-success" routerLink="/projectinfo-monthly" data-dismiss="modal">Monthly Info</button>
                       
                    
                    </tr>
                   
                  </tbody>
                  <!-- <tfoot>
                      <tr>
                        <td><b>Total</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                        
                      </tr>
                    </tfoot> -->
                </table>
              </div>
             
           <div id="poapprovaldetailsexpand" class="modal fade" role="dialog" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Project Information</h4>
                  </div>
                  <form [formGroup]="addpoform">
                    <div class="modal-body">
                      <div class="form-group">
                      
                      <div class="form-group col-md-4">
                          <label>Account Category</label>
                          <input type="text" class="form-control" value="GE Renewables" disabled/>
                       
                          <small class="text-danger" *ngIf="addpoform.controls.modalprojectname.errors && (addpoform.controls.modalprojectname.dirty || addpoform.controls.modalprojectname.touched) && !addpoform.controls.modalprojectname.valid">
                            <span *ngIf="addpoform.controls.modalprojectname.errors.required">Account Category is required</span>
                          </small>
                       </div>

                      <div class="form-group col-md-4">
                        <label>Project Name</label>
                        <input type="text" class="form-control" value="GE Renewables" />
                      
                        <small class="text-danger" *ngIf="addpoform.controls.modalprojectname.errors && (addpoform.controls.modalprojectname.dirty || addpoform.controls.modalprojectname.touched) && !addpoform.controls.modalprojectname.valid">
                          <span *ngIf="addpoform.controls.modalprojectname.errors.required">Project Name is required</span>
                        </small>
                        </div>
                        
                        <div class="form-group  col-md-4">
                            <label>Year & Month</label>
                            <input type="text" class="form-control" value="Jan-2019" disabled/>
                          
                        </div>

                        
                       <div class="form-group col-md-3">
                         <label>Account Name</label>
                         <input type="text" class="form-control" value="GE Ticketless" placeholder="Account Name" disabled/>
                        
                       </div>
                        
                       
                        
                       <div class="form-group col-md-3">
                          <label>Customer Name</label>
                          <input type="text" class="form-control"  value="Industrial Connections & Solutions LLC " placeholder="Customer Name" disabled/>
                        </div>
                        
                        <div class="form-group col-md-2">
                         <label>Project Start Date</label>
                         <input type="text" class="form-control" value="10-Jan-2018" placeholder="DD/MMM/YYYY" disabled/>
                        
                       </div>
                        
                        <div class="form-group col-md-2">
                          <label>Project End Date</label>
                          <input type="text" class="form-control" value="09-Jan-2019" placeholder="DD/MMM/YYYY" disabled/>
                          
                        </div>
                        
                        <div class="form-group col-md-2">
                          <label>Project Billing Currency</label>
                          <input type="text" class="form-control"  value="USD-(US Dollar)" placeholder="Project Billing Currency" disabled/>
                          
                        </div>
                        <div class="panel panel-default">
					
                            <div class="panel-body">
                        <div class="form-group">
                            <div class="table-responsive">          
                                <table class="display row-border hover modaldatatable" style="width:100%" datatable [dtOptions]="dtOptions">
                                  <thead>
                                    <tr>
                                      <th>SNO</th>
                                      <th>Account
                                        </th>
                                      <th>Customer Name
                                        </th>
                                      <th>PID
                                        </th>
                                      <th>Quote
                                        </th>
                                      <th>Contract
                                        </th>
                                      <th>Start Date
                                        </th>
                                      <th>End Date
                                        </th>
                                      
                                         <!-- <th>Detailed Info</th> -->
                                             
                                         <th>Days Left
</th>
                                         <th>PO#

</th>
                                         <th>Balance (Final)

</th>
                                         <th>Avg. Billing

</th>
                                         <th>Months Consmd.

</th>
                                    </tr>
                                    
                                  </thead>
                                  <tbody>
                                    <!-- <tr> -->
                                        <tr *ngFor="let empliste of emplistexpand; index as i">
                                        <td>{{i+1}}</td>
                                        <td>{{empliste.account}}</td>
                                        <td>{{empliste.customer_name}}</td>
                                        <td>{{empliste.pid}}</td>
                                        <td>{{empliste.quote}}</td>
                                        <td>{{empliste.contract}}</td>
                                        <td>{{empliste.sdate}}</td>
                                        <td>{{empliste.enddate}}</td>
                                        <td>{{empliste.daysleft}}</td>
                                        <td>{{empliste.po}}</td>
                                        <td>{{empliste.balance}}</td>
                                        <td>{{empliste.avgbilling}}</td>
                                        <td>{{empliste.monthscons}}</td>
                                        
                                       
                                      
                                       
                                    
                                    </tr>
                                   
                                  </tbody>
                                   <!-- <tfoot>
                                      <tr>
                                        <td><b>Total</b></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        
                                        
                                      </tr>
                                    </tfoot> -->
                                </table>
                              </div>
                        </div>
                            </div>
                          </div>
                        <div class="panel panel-default">
					
                          <div class="panel-body">
                        <div class="form-group">
                          <div class="table-responsive">          
                              <table class="display row-border hover modaldatatable" style="width:100%" datatable [dtOptions]="dtOptions">
                                <thead>
                                  <tr>
                                    <th>SNO</th>
                                    <th>GID
                                      </th>
                                    <th>Associate Name
                                      </th>
                                    <th>Asso. Start Date

                                      </th>
                                    <th>Asso. Last Date

                                      </th>
                                    <th>Releasing in

                                      </th>
                                    <th>Band

                                      </th>
                                    <th>UOM

                                      </th>
                                    
                                       <!-- <th>Detailed Info</th> -->
                                           
                                       <th>Rates

</th>
    
                                  </tr>
                                  
                                </thead>
                                <tbody>
                                  <!-- <tr> -->
                                      <tr *ngFor="let emplistes of resourcelist; index as i">
                                      <td>{{i+1}}</td>
                                      <td>{{emplistes.GID}}</td>
                                      <td>{{emplistes.associate_name}}</td>
                                      <td>{{emplistes.Assosdate}}</td>
                                      <td>{{emplistes.Assoedate}}</td>
                                      <td>{{emplistes.rel}}</td>
                                      <td>{{emplistes.band}}</td>
                                      <td>{{emplistes.uom}}</td>
                                     
                                      <td>{{emplistes.rates}}</td>
                                     
                                    
                                     
                                  
                                  </tr>
                                 
                                </tbody>
                                <!-- <tfoot>
                                    <tr>
                                      <td><b>Total</b></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td ></td>
                                      <td ></td>
                                      <td ></td>
                                      <td ></td>
                                      <td ></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      
                                      
                                    </tr>
                                  </tfoot> -->
                              </table>
                            </div>
                      </div>
                    </div>
                  </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" [disabled]="addpoform.invalid" class="btn btn-primary" data-create="modal">Update</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div> 
               

        </div>             
      </div>
    </div>
    