<div class="row">
  <div class="container-fluid">
    <h2>Resource Details</h2>
    <div class="panel panel-default">
      <div class="panel-heading">Search Resource Details
        <button type="button" class="btn btn-success fa fa-plus-circle add" data-toggle="modal" data-target="#addmodel">&nbsp;&nbsp;Add</button>
      </div>
      <div class="panel-body">
        <div class="row">
          <ng-container *ngIf="error">
            <div class="col-md-12">
              <div class="alert alert-danger alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{error}}
              </div>
            </div>
          </ng-container>
          <form [formGroup]="searchresourceform">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Associate ID</label>
                <input type="text" placeholder="Associate ID" class="form-control" [formControl]="searchresourceform.controls['search_associateid']">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="id">Associate Name</label>
                <input  class="form-control" placeholder="Associate Name" name="name" [formControl]="searchresourceform.controls['search_associatename']">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="id">Band</label>
                <select class="form-control" [formControl]="searchresourceform.controls['search_band']">
                  <option value="" disabled selected hidden style="color:#a4b2ba;">Select Band</option>
                  <option *ngFor="let b of band" [value]=b.bandname>
                    {{b.bandname}}
                  </option>
                </select>
              </div>
            </div>
            <div class="text-center col-md-12">
              <button [disabled]="searchresourceform.invalid" class="btn btn-primary col-md-offset-3 col-md-2" type="submit" (click)="search_resource_details(searchresourceform.value)">Search</button>
              <button [disabled]="searchresourceform.invalid" class="btn btn-danger col-md-offset-2 col-md-2" type="reset">Cancel</button>
            </div>
          </form>
        
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default"*ngIf="resourcelists">
  <div class="panel-body">
    <div class="table-responsive">          
      <table class="display row-border hover" style="width:100%" datatable [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Associate ID</th>
            <th>Associate Name</th>
            <th>Band</th> 
            <th>Project ID (PID)</th> 
            <th>Email</th> 
            <th>Contact Number</th>              
            <th>Edit/Delete</th>              
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resourcelist of resourcelists;index as i">
            <td>{{i+1}}</td>
            <td>{{resourcelist.associateId}}</td>
            <td>{{resourcelist.associateName}}</td>
            <td>{{resourcelist.band}}</td>
            <td>{{resourcelist.pId}}</td>
            <td>{{resourcelist.emailId}}</td>
            <td>{{resourcelist.contactNumber}}</td>
            <td>
              <button *ngIf="role" type="button" class="btn btn-info fa fa-pencil" data-toggle="modal" data-target="#editmodel" (click)="updateresourcefields(resourcelist)"></button>&nbsp;
              <button *ngIf="role" type="button" class="btn btn-danger fa fa-trash" (click)="delete_resource_data(resourcelist)"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>             
</div>

<!-- Add Resource Details -->

<div class="modal fade" id="addmodel" tabindex="-1" role="dialog" aria-labelledby="addmodel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">Add Resource Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-success alert-dismissible" *ngIf="addmsg">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
        {{addmsg}}
      </div>
      <div class="alert alert-danger alert-dismissible" *ngIf="adderrormsg">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
        {{adderrormsg}}
      </div>
      <div class="modal-body">
        
        <form [formGroup]="addresourceform">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Associate ID*</label>
                <input type="text" class="form-control" placeholder="Associate ID" name="name" [formControl]="addresourceform.controls['addassociateid']" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id">Associate Name*</label>
                <input type="id" class="form-control"  placeholder="Associate Name" name="name" [formControl]="addresourceform.controls['addassociatename']">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="id">Band*</label>
                <select class="form-control"  [formControl]="addresourceform.controls['addband']">
                  <option value="" disabled selected hidden style="color:#a4b2ba;">Select Band</option>
                  <option *ngFor="let b of band" [value]=b.bandname>{{b.bandname}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id">Project ID (PID)</label>
                <input type="text" placeholder="Project ID (PID)" class="form-control" name="name" [formControl]="addresourceform.controls['addpid']">
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="id">Email ID*</label>
                <input type="text" placeholder="Email ID" class="form-control" name="name" [formControl]="addresourceform.controls['addemailid']">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id">Contact Number*</label>
                <input type="text" placeholder="Contact Number" class="form-control" name="name" [formControl]="addresourceform.controls['addcontactnumber']">
              </div>
            </div>  
          </div>
          <small id="mandatory_fields">* fields are Mandatory</small>
        </form>
        
      </div>
      <div class="modal-footer">
        <button [disabled]="addresourceform.invalid" type="submit" class="btn btn-success" (click)="add_resource_data(addresourceform.value)" >Add</button> 
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
<!-- update model -->
<div class="modal fade" id="editmodel" tabindex="-1" role="dialog" aria-labelledby="editmodel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">Update Resource Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="editerror">
          <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible fade in">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{editerror}}
            </div>
          </div>
        </ng-container>
        <form [formGroup]="updateresourcedetails">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="id">Associate ID</label>
                <input type="id" class="form-control" placeholder="Associate ID" name="name" [formControl]="updateresourcedetails.controls['editassociateid']" disabled>
                <small class="text-danger" *ngIf="updateresourcedetails.controls.editassociateid.errors &&(updateresourcedetails.controls.editassociateid.dirty || updateresourcedetails.controls.editassociateid.touched) && !updateresourcedetails.controls.editassociateid.valid">
                  <span  *ngIf="updateresourcedetails.controls.editassociateid.errors.required">Id is Required</span>
                </small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Associate Name</label>
                <input type="text"  class="form-control"  placeholder="Associate Name" name="name" [formControl]="updateresourcedetails.controls['editassociatename']" >
                <small class="text-danger" *ngIf="updateresourcedetails.controls.editassociatename.errors &&(updateresourcedetails.controls.editassociatename.dirty || updateresourcedetails.controls.editassociatename.touched) && !updateresourcedetails.controls.editassociatename.valid">
                  <span  *ngIf="updateresourcedetails.controls.editassociatename.errors.required">Name is Required</span>
                </small>
                
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="id">Band</label>
                <select class="form-control"  [formControl]="updateresourcedetails.controls['editband']">
                  <option [value]="0" disabled selected>Select Band</option>
                  <option *ngFor="let b of band" [value]=b.bandname>
                    {{b.bandname}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id">Project ID (PID)</label>
                <input type="text" class="form-control" placeholder="Project ID" name="name" [formControl]="updateresourcedetails.controls['editpid']">
                
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="id">Email ID</label>
                <input type="text" class="form-control" placeholder="Enter Email" name="name" [formControl]="updateresourcedetails.controls['editemailid']">
                <small class="text-danger" *ngIf="updateresourcedetails.controls.editemailid.errors &&(updateresourcedetails.controls.editemailid.dirty || updateresourcedetails.controls.editemailid.touched) && !updateresourcedetails.controls.editemailid.valid">
                  <span  *ngIf="updateresourcedetails.controls.editemailid.errors.required">Email Id is Required</span>
                </small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id">Contact Number</label>
                <input type="text" class="form-control" placeholder="Enter Contact Number" name="name" [formControl]="updateresourcedetails.controls['editcontactnumber']">
                <small class="text-danger" *ngIf="updateresourcedetails.controls.editcontactnumber.errors &&(updateresourcedetails.controls.editcontactnumber.dirty || updateresourcedetails.controls.editcontactnumber.touched) && !updateresourcedetails.controls.editcontactnumber.valid">
                  <span  *ngIf="updateresourcedetails.controls.editcontactnumber.errors.required">Contact No is Required</span>
                </small>
              </div>
            </div>
            
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" (click)="update_resource_data(updateresourcedetails.value)">Update</button> 
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 



