<div class="row ">
    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please sign in</h3>
            </div>
            <div class="panel-body">
                <div *ngIf="error" class="alert alert-danger fade in">{{error}}<button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button></div>
                
                <form [formGroup]="loginform">
                    <div class="form-group">
                        <label>Associate ID</label>                        
                        <input type="text" class="form-control" placeholder="Associate ID" [formControl]="loginform.controls['associateId']"  required autofocus>
                        <small class="text-danger" *ngIf="loginform.controls.associateId.errors && (loginform.controls.associateId.dirty || loginform.controls.associateId.touched) && !loginform.controls.associateId.valid">
                            <span *ngIf="loginform.controls.associateId.errors.required">Associate ID Required</span>
                      
                          <span *ngIf="loginform.controls.associateId.errors.minlength">Name must be 10 characters long</span>
                          <span *ngIf="loginform.controls.associateId.errors.pattern">Invalid pattern.Pattern Should be SA00587670</span> 
                        </small> 
                    </div>
                    
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" placeholder="Password" [formControl]="loginform.controls['password']"  required class="form-control" />
                        <small class="text-danger" *ngIf="loginform.controls.password.errors && (loginform.controls.password.dirty || loginform.controls.password.touched) && !loginform.controls.password.valid">
                            <span *ngIf="loginform.controls.password.errors.required">Password is required</span>
                            <span *ngIf="loginform.controls.password.errors.minlength">Password must be 6 characters long</span>
                        </small> 
                    </div>
                    <div class="form-group text-center">
                        <button type='button' [disabled]="loginform.invalid" class="btn btn-primary"  (click)="onsignin(loginform.value)" >Login</button>
                    </div> 
                    <br>
                    <div class="form-group">
                        <table >
                            <tr>
                                <td>
                                    <button [disabled]="loginform.invalid" class="btn btn-primary" type="button" (click)="nodata()">No Data Found</button>
                                </td>
                                <td>
                                    <button [disabled]="loginform.invalid" class="btn btn-primary" type="button" (click)="exception()">Exception</button>
                                </td>
                                <td>
                                    <button [disabled]="loginform.invalid" class="btn btn-primary" type="button" (click)="badrequest()">Bad Request </button>
                                </td>
                            </tr>
                        </table>
                    </div>    
                </form>
            </div>
        </div>
    </div>
</div>
