<div class="row">
    <div class="container-fluid">    
      <h2>Project Details</h2>
      <div class="panel panel-default">
          <div class="panel-heading">Search Project Details
            <button type="button" class="btn btn-success fa fa-plus-circle  pull-right" data-toggle="modal" data-target="#exampleModalCenter">&nbsp;&nbsp;Add</button>
          </div>
          <div class="panel-body">
           <div class="row">
              <ng-container *ngIf="error">
                  <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible fade in">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      {{error}}
                    </div>
                  </div>
                </ng-container>
            <form [formGroup]="projectsearchform" (ngSubmit)="onSubmit(projectsearchform.value)">
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="proj">Account Category</label>
                      <select class="form-control"  [formControl]="projectsearchform.controls['acc_category']" [(ngModel)]="acc_category_default">
                        <option [value]="0" disabled selected>Select Account Category</option>
                        <option *ngFor="let category of categories" [value]=category.code >
                          {{category.acc_category}}
                        </option>
                      </select>
                    </div>
                  </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="proj">Project Name</label>
                  <select class="form-control"  [formControl]="projectsearchform.controls['project_name']" [(ngModel)]="project_name_default">
                    <option [value]="0" disabled selected>Select Project</option>
                    <option *ngFor="let project of projects" [value]=project.projectname >
                      {{project.projectname}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="year">Type</label>
                  <select class="form-control" id="year"  [formControl]="projectsearchform.controls['type']" [(ngModel)]="type_default">
                      <option [value]="0" disabled selected>Select Type</option>
                      <option *ngFor="let type of types" [value]=type.type >
                        {{type.type}}
                      </option>
                    </select>                  
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="year">Status</label>
                  <select class="form-control" id="year"  [formControl]="projectsearchform.controls['status']" [(ngModel)]="status_default">
                      <option [value]="0" disabled selected>Select Status</option>
                      <option *ngFor="let status of statuses" [value]=status.code >
                        {{status.status}}
                      </option>
                    </select>                  
                </div>
              </div>
              <div class="text-center col-md-12">
                <button [disabled]="projectsearchform.invalid" class="btn btn-primary col-md-offset-3 col-md-2" type="submit" (click)="getData()">Search</button>
                <button [disabled]="projectsearchform.invalid" class="btn btn-danger col-md-offset-2 col-md-2" type="reset" (click)="reset()">Cancel</button>
              </div>
            </form>
            <div class="row" style="margin-top:60px;">
              <table class="col-md-12 text-center">
                <tr>
                  <td>
                    <button [disabled]="projectsearchform.invalid" class="btn btn-primary" type="button" (click)="errordata()()">No Data Found</button>
                  </td>
                  <td>
                    <button [disabled]="projectsearchform.invalid" class="btn btn-primary" type="button" (click)="errorexceptiondata()">Exception</button>
                  </td>
                  <td>
                    <button [disabled]="projectsearchform.invalid" class="btn btn-primary" type="button" (click)="badrequest()">Bad Request </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        </div>
        
<div class="panel panel-default" *ngIf='projectlists'>
    <div class="panel-body">
      <div class="table-responsive">          
        <table class="display row-border hover" style="width:100%" datatable [dtOptions]="dtOptions">
          <thead>
              <tr>
                  <th>S.No</th>
                  <th>Account Category</th>
                  <th>Account Name</th>
                  <th>Project Name</th>
                  <th>Start Date</th>
                  <th>End  Date</th>
                  <th>Resource Count</th>
                  <th>PO Amount</th>
                  <!-- <th>Currency</th> -->
                  <th>Type</th>
                  <th>Status</th>            
                  <th>Edit/Delete</th>
                </tr>
          </thead>
          <tbody>
              <tr *ngFor="let projectlist of projectlists; index as i">
                  <td>{{i+1}}</td>
                  <td>{{projectlist.account_category}}</td>
                  <td>{{projectlist.account_name}}</td>
                  <td>{{projectlist.project_name}}</td>
                  <td>{{projectlist.start_date}}</td>
                  <td>{{projectlist.end_date}}</td>
                  <td>{{projectlist.resource_count}}</td>
                  <td>{{projectlist.po_amount| currency:projectlist.currency:true:'1.2'}}</td>
                  <!-- <td>{{projectlist.currency }}</td> -->
                  <td>{{projectlist.type}}</td>
                  <td>{{projectlist.status}}</td>
                  <td>
                    <button *ngIf="role" type="button" class="btn btn-info fa fa-pencil" data-toggle="modal" data-target="#editmodel"></button>&nbsp;
                    <button *ngIf="role" type="button" class="btn btn-danger fa fa-trash" (click)="deletedata()"></button>
                  </td>
                </tr>
          </tbody>
        </table>
      </div>
    </div>             
  </div>
    </div>
  </div>