<!-- MultiStep Form -->
<div class="row">
  <div class="col-md-12">
    <form id="msform">
      <!-- progressbar -->
      <ul id="progressbar">
        <li class="active">Project initial Details</li>
        <li>Days for Each Month</li>
        <li>Associate Details</li>
      </ul> 
      <!-- fieldsets -->
      <fieldset>
        <h2 class="fs-title">Project initial Details</h2>
        <form [formGroup]="angForm">
          <div>    
            <input type="text" placeholder="Project Name" [formControl]="angForm.controls['projectName']" required>
            <br>
            <small  *ngIf="angForm.controls.projectName.errors && (angForm.controls.projectName.dirty || angForm.controls.projectName.touched) && !angForm.controls.projectName.valid">
              <span *ngIf="angForm.controls.projectName.errors.required">Project Name is required</span>
              <span *ngIf="angForm.controls.projectName.errors.minlength">Project Name must be 4 characters long</span>
            </small>  
          </div>
          <div>
            <select class="form-control" required [formControl]="angForm.controls['ProjectClient']" >                            
              <option value="" >Please Select</option>
              <option *ngFor="let client of clients" [ngValue]="client">
                {{ client.name }}
              </option>
            </select>            
            <br><small *ngIf="angForm.controls.ProjectClient.errors && (angForm.controls.ProjectClient.dirty || angForm.controls.ProjectClient.touched) && !angForm.controls.ProjectClient.valid">
              <span *ngIf="angForm.controls.ProjectClient.errors.required">Client is required</span>
            </small>
          </div>
          <div>    
              <input type="number" placeholder="Number of Associates" [formControl]="angForm.controls['associates']" required>
              <br>
              <small  *ngIf="angForm.controls.associates.errors && (angForm.controls.associates.dirty || angForm.controls.associates.touched) && !angForm.controls.associates.valid">
                <span *ngIf="angForm.controls.associates.errors.required">Number of Associates required</span>
              </small>  
            </div>
            <div class="text-left">              
            <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
              </ngb-datepicker>
              
              <ng-template #t let-date let-focused="focused">
                <span class="custom-day"
                      [class.focused]="focused"
                      [class.range]="isRange(date)"
                      [class.faded]="isHovered(date) || isInside(date)"
                      (mouseenter)="hoveredDate = date"
                      (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                </span>
              </ng-template>  
            </div>
          <!-- <button type="submit" class="next action-button"[disabled]="angForm.invalid">Save</button> -->
        </form>
          <button type="button" name="save" class="next action-button" (click)="savedata(angForm.value)" [disabled]="angForm.invalid || !datefields">Next</button>
          
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Days for Each Month</h2>  
        <form [formGroup]="angFormdays">
          <div class="text-left">  
            <div class="custom-control custom-radio">                
              <input type="radio" value="8" class="custom-control-input"  [formControl]="angFormdays.controls['daysformonth']" id="defaultUnchecked8">
              <label class="custom-control-label" for="defaultUnchecked8">8 Hours/Day</label>
            </div>
            <div class="custom-control custom-radio">             
              <input type="radio" value="9" class="custom-control-input" [formControl]="angFormdays.controls['daysformonth']" id="defaultChecked9">
              <label class="custom-control-label" for="defaultChecked9">9 Hours/Day</label>
            </div> 
            <br>
            <small  *ngIf="angFormdays.controls.daysformonth.errors && (angFormdays.controls.daysformonth.dirty || angFormdays.controls.daysformonth.touched) && !angFormdays.controls.daysformonth.valid">
              <span *ngIf="angFormdays.controls.daysformonth.errors.required">Project Name is required</span>
            </small>  
          </div>
        </form>      
  
        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>  
        <button type="button" name="save" class="next action-button" (click)="savedata1(angFormdays.value)" [disabled]="angFormdays.invalid">Next</button>
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Associate Details</h2>
        <input type="text" name="email" placeholder="Email"/>
        <input type="password" name="pass" placeholder="Password"/>
        <input type="password" name="cpass" placeholder="Confirm Password"/>
        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
        <input type="submit" name="submit" class="submit action-button" value="Submit"/>
      </fieldset>
    </form>
    
  </div>
</div>
<!-- /.MultiStep Form -->