<div class="row">
  <div class="container-fluid">
    
    <h2>Holiday Details</h2>
    
    <div class="panel panel-default">
      <div class="panel-heading">Search Holiday Details
        <button type="button" class="btn btn-success fa fa-plus-circle add" data-toggle="modal" data-target="#exampleModalCenter"  (click)='closemsg()'>&nbsp;&nbsp;Add</button>
      </div>
      <div class="panel-body">
        <div class="row">
          <ng-container *ngIf="error">
            <div class="col-md-12">
              <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{error}}
              </div>
            </div>
          </ng-container>
          <form [formGroup]="holidayform">
            <div class="col-md-6"><div class="form-group">
              <label for="proj">Search Account Category</label>
              <input type='text' placeholder="Account Category" class="form-control"  [formControl]="holidayform.controls['search_account_category']">
            </div> 
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="year">Search Account Name</label>
              <input type='text' placeholder="Account Name" class="form-control"  [formControl]="holidayform.controls['search_account_name']">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="proj">Search Project Name</label>
              <input type="text" placeholder="Project Name" class="form-control" [formControl]="holidayform.controls['search_project_name']">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="year">Year</label>
              <input type="text" placeholder="Select Year" class="form-control" [formControl]="holidayform.controls['search_holidays_years']">
              <!-- <select class="form-control" [formControl]="holidayform.controls['search_holidays_years']">
                <option value="" disabled selected hidden style="color:#a4b2ba;">Select Year</option>
                <option *ngFor="let year of years" [value]=year.years>
                  {{year.years}}
                </option>
              </select>                   -->
            </div>
          </div>
          <div class="text-center col-md-12">
            <button  class="btn btn-primary col-md-offset-3 col-md-2" type="submit" (click)="search_holidays_details(holidayform.value)">Search</button>
            <button  class="btn btn-danger col-md-offset-2 col-md-2" type="button" (click)="searchreset()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="alert alert-success alert-dismissible" *ngIf="deletemsg">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
    {{deletemsg}}
  </div> 
  
  <div class="panel panel-default" *ngIf="holidayslists">
    <div class="panel-body">
      
      <div class="table-responsive">          
        <table class="display row-border hover" style="width:100%" datatable [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Account Category</th>
              <th>Account Name</th>
              <th>Project Name</th>
              <th>Year</th>
              <th>Edit/Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let holidayslist of holidayslists; index as i">
              <td>{{i+1}}</td>
              <td>{{holidayslist.accountCategory}}</td>
              <td>{{holidayslist.accountName}}</td>
              <td>{{holidayslist.projectName}}</td>
              <td>{{holidayslist.year}}</td>
              <td>
                <button *ngIf="role" type="button" class="btn btn-info fa fa-pencil" data-toggle="modal" data-target="#editmodel"  (click)='update_holiday_modal_screen(holidayslist)'></button>&nbsp;
                <button *ngIf="role" type="button" class="btn btn-danger fa fa-trash" (click)="delete_hoilday_data(holidayslist)"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>             
  </div>
</div>
</div>
<!-- Add Holiday Details -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">Add Holiday Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-success alert-dismissible" *ngIf="addmsg">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
        {{addmsg}}
      </div>
      <div class="alert alert-danger alert-dismissible" *ngIf="adderrormsg">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
        {{adderrormsg}}
      </div>
      <div class="modal-body">
        <form [formGroup]="holidaylistform">
          <div class="row">
            <div class="col-md-6"><div class="form-group">
              <label for="proj">Account Category*</label>
              <select class="form-control" [(ngModel)]="myModel"  [formControl]="holidaylistform.controls['add_account_category']" (change)="search_account_category($event.target.value)">
                <option value="" disabled selected hidden style="color:#a4b2ba;">Select Account Category</option>
                <option *ngFor="let categorie of categories" [value]=categorie >
                  {{categorie}}
                </option>
              </select>
            </div> 
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="year">Account Name*</label>             
              <select class="form-control" id="year"  [formControl]="holidaylistform.controls['add_account_name']" (change)="search_account_name(myModel,$event.target.value)">
                <option value="" disabled selected hidden style="color:#a4b2ba;">Select Account Name</option>
                <option *ngFor="let acname of acnames" [value]=acname >
                  {{acname}}
                </option>
              </select>
              <div class="text-danger" *ngIf="holidaylistform.controls.add_account_name.errors && (holidaylistform.controls.add_account_name.errors.dirty || holidaylistform.controls.add_account_name.errors.touched) && !holidaylistform.controls.add_account_name.errors.valid">
                <span *ngIf="holidaylistform.controls.add_account_name.errors.required">Account Category is required</span>
              </div>                 
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="proj">Project Name*</label>
              <select class="form-control" id="year" [formControl]="holidaylistform.controls['add_project_name']" (change)="getprojectDetails($event.target.value)">
                <option value="" disabled selected hidden style="color:#a4b2ba;">Select Project Name</option>
                <option *ngFor="let projectslist of projectslists" [value]=projectslist.projectName >
                  {{projectslist.projectName}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <label for="proj">Year*</label>
            <select class="form-control" id="year_val"  [formControl]="holidaylistform.controls['add_holiday_year']" >
              <option value="" disabled selected hidden style="color:#a4b2ba;">Select Year</option>
              <option *ngFor="let year of years">
                {{year.years}}
              </option>
            </select> 
          </div>
        </div>
        
        <div class="row mt">            
          <div class="col-md-4 monthadjcss">
            <div class="form-group">
              <div class="col-md-6"><label>January</label></div>
              <div class="col-md-6">
                <input type="text"  min=0 max=31 name="jan" placeholder="" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  class="form-control"  [formControl]="holidaylistform.controls['holiday_jan']"> 
                
                
              </div>              
            </div>
            <small class="text-danger" *ngIf="holidaylistform.controls.holiday_jan.errors && (holidaylistform.controls.holiday_jan.dirty || holidaylistform.controls.holiday_jan.touched) && !holidaylistform.controls.holiday_jan.valid">
              <span *ngIf="holidaylistform.controls.holiday_jan.errors.maxlength"> Month should be 2 digits only</span>
              <span *ngIf="holidaylistform.controls.holiday_jan.errors.max">Max number 31 only</span>
            </small> 
          </div>
          <div class="col-md-4 monthadjcss">
            <div class="form-group">
              <div class="col-md-6"><label>February</label></div>
              <div class="col-md-6">
                <input type="text" name="feb" placeholder="" class="form-control" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  [formControl]="holidaylistform.controls['holiday_feb']" (keyup)="leap_year_validation=leap_year($event.target.value)">
              </div>
            </div>
            <div>
              <small class="text-danger" *ngIf="holidaylistform.controls.holiday_feb.errors && (holidaylistform.controls.holiday_feb.dirty || holidaylistform.controls.holiday_feb.touched) && !holidaylistform.controls.holiday_feb.valid">
                <span *ngIf="leap_year_validation==false">Max number 28 only</span>
                <span *ngIf="leap_year_validation==='leap_year'">Selected year is a Leap year <br> Max number 29 only</span>
              </small>
            </div>
            
          </div>
          <div class="col-md-4 monthadjcss">
            <div class="form-group">
              <div class="col-md-6"><label>March</label></div>
              <div class="col-md-6">
                <input type="text"  name="mar" placeholder="" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  class="form-control" [formControl]="holidaylistform.controls['holiday_mar']">
                <small class="text-danger" *ngIf="holidaylistform.controls.holiday_mar.errors && (holidaylistform.controls.holiday_mar.dirty || holidaylistform.controls.holiday_mar.touched) && !holidaylistform.controls.holiday_mar.valid">
                  <span *ngIf="holidaylistform.controls.holiday_mar.errors.maxlength">  Month should be 2 digits only </span>
                  <span *ngIf="holidaylistform.controls.holiday_mar.errors.max">Max number 31 only</span>
                </small> 
              </div>
            </div>
          </div>
        </div>
        <div class="row mt">            
          <div class="col-md-4 monthadjcss">
            <div class="form-group">
              <div class="col-md-6"><label>April</label></div>
              <div class="col-md-6">
                <input type="text"    name="apr" placeholder="" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  class="form-control" [formControl]="holidaylistform.controls['holiday_apr']">
                <small class="text-danger" *ngIf="holidaylistform.controls.holiday_apr.errors && (holidaylistform.controls.holiday_apr.dirty || holidaylistform.controls.holiday_apr.touched) && !holidaylistform.controls.holiday_apr.valid">
                  <span *ngIf="holidaylistform.controls.holiday_apr.errors.maxlength">  Month should be 2 digits only </span>
                  <span *ngIf="holidaylistform.controls.holiday_apr.errors.max">Max number 30 only</span>
                </small> 
                
              </div>
            </div>
          </div>
          <div class="col-md-4 monthadjcss">
            <div class="form-group">
              <div class="col-md-6"><label>May</label></div>
              <div class="col-md-6">
                <input type="text"  name="may" placeholder="" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  class="form-control" [formControl]="holidaylistform.controls['holiday_may']">
                <small class="text-danger" *ngIf="holidaylistform.controls.holiday_may.errors && (holidaylistform.controls.holiday_may.dirty || holidaylistform.controls.holiday_may.touched) && !holidaylistform.controls.holiday_may.valid">
                  <span *ngIf="holidaylistform.controls.holiday_may.errors.maxlength">  Month should be 2 digits only </span>
                  <span *ngIf="holidaylistform.controls.holiday_may.errors.max"> max no 31 </span>
                </small> 
                
              </div>
            </div>
          </div>
          <div class="col-md-4 monthadjcss">
            <div class="form-group">
              <div class="col-md-6"><label>June</label></div>
              <div class="col-md-6">
                <input type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"   name="june" placeholder="" class="form-control" [formControl]="holidaylistform.controls['holiday_jun']">
                <small class="text-danger" *ngIf="holidaylistform.controls.holiday_jun.errors && (holidaylistform.controls.holiday_jun.dirty || holidaylistform.controls.holiday_jun.touched) && !holidaylistform.controls.holiday_jun.valid">
                  <span *ngIf="holidaylistform.controls.holiday_jun.errors.maxlength">  Month should be 2 digits only </span>
                  <span *ngIf="holidaylistform.controls.holiday_jun.errors.max"> Max number 30 only </span>
                </small> 
                
              </div>
            </div>
          </div>
        </div>
        <div class="row mt">            
          <div class="col-md-4 monthadjcss">
            <div class="form-group">
              <div class="col-md-6"><label>July</label></div>
              <div class="col-md-6">
                <input type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"   name="july" placeholder="" class="form-control"  [formControl]="holidaylistform.controls['holiday_jul']">
                <small class="text-danger" *ngIf="holidaylistform.controls.holiday_jul.errors && (holidaylistform.controls.holiday_jul.dirty || holidaylistform.controls.holiday_jul.touched) && !holidaylistform.controls.holiday_jul.valid">
                  <span *ngIf="holidaylistform.controls.holiday_jul.errors.maxlength">  Month should be 2 digits only </span>
                  <span *ngIf="holidaylistform.controls.holiday_jul.errors.max"> Max number 31 only </span>
                </small> 
              </div>
            </div>
          </div>
          <div class="col-md-4 monthadjcss">
            <div class="form-group">
              <div class="col-md-6"><label>August</label></div>
              <div class="col-md-6">
                <input type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  name="aug" placeholder="" class="form-control" [formControl]="holidaylistform.controls['holiday_aug']">
                <small class="text-danger" *ngIf="holidaylistform.controls.holiday_aug.errors && (holidaylistform.controls.holiday_aug.dirty || holidaylistform.controls.holiday_aug.touched) && !holidaylistform.controls.holiday_aug.valid">
                  <span *ngIf="holidaylistform.controls.holiday_aug.errors.maxlength">  Month should be 2 digits only </span>
                  <span *ngIf="holidaylistform.controls.holiday_aug.errors.max">Max number 31 only</span>
                </small> 
              </div>
            </div>
          </div>
          <div class="col-md-4 monthadjcss">
            <div class="form-group">
              <div class="col-md-6"><label>September</label></div>
              <div class="col-md-6">
                <input type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  name="sep" placeholder="" class="form-control" [formControl]="holidaylistform.controls['holiday_sep']">
                <small class="text-danger" *ngIf="holidaylistform.controls.holiday_sep.errors && (holidaylistform.controls.holiday_sep.dirty || holidaylistform.controls.holiday_sep.touched) && !holidaylistform.controls.holiday_sep.valid">
                  <span *ngIf="holidaylistform.controls.holiday_sep.errors.maxlength"> must be 2 characters </span>
                  <span *ngIf="holidaylistform.controls.holiday_sep.errors.max">Max number 30 only</span>
                </small> 
              </div>
            </div>
          </div>
        </div>
        <div class="row mt">            
          <div class="col-md-4 monthadjcss">
            <div class="form-group">
              <div class="col-md-6"><label>October</label></div>
              <div class="col-md-6">
                <input type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"   name="oct" placeholder="" class="form-control" [formControl]="holidaylistform.controls['holiday_oct']">
                <small class="text-danger" *ngIf="holidaylistform.controls.holiday_oct.errors && (holidaylistform.controls.holiday_oct.dirty || holidaylistform.controls.holiday_oct.touched) && !holidaylistform.controls.holiday_oct.valid">
                  <span *ngIf="holidaylistform.controls.holiday_oct.errors.maxlength"> must be 2 characters </span>
                  <span *ngIf="holidaylistform.controls.holiday_oct.errors.max">Max number 31 only</span>
                </small> 
              </div>
            </div>
          </div>
          <div class="col-md-4 monthadjcss">
            <div class="form-group">
              <div class="col-md-6"><label>November</label></div>
              <div class="col-md-6">
                <input type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  name="nov" placeholder="" class="form-control" [formControl]="holidaylistform.controls['holiday_nov']">
                <small class="text-danger" *ngIf="holidaylistform.controls.holiday_nov.errors && (holidaylistform.controls.holiday_nov.dirty || holidaylistform.controls.holiday_nov.touched) && !holidaylistform.controls.holiday_nov.valid">
                  <span *ngIf="holidaylistform.controls.holiday_nov.errors.maxlength"> must be 2 characters </span>
                  <span *ngIf="holidaylistform.controls.holiday_nov.errors.max">Max number 30 only</span>
                </small> 
              </div>
            </div>
          </div>
          <div class="col-md-4 monthadjcss">
            <div class="form-group">
              <div class="col-md-6"><label>December</label></div>
              <div class="col-md-6">
                <input type="text"  name="dec"  onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  placeholder="" class="form-control" [formControl]="holidaylistform.controls['holiday_dec']">
                <small class="text-danger" *ngIf="holidaylistform.controls.holiday_dec.errors && (holidaylistform.controls.holiday_dec.dirty || holidaylistform.controls.holiday_dec.touched) && !holidaylistform.controls.holiday_dec.valid">
                  <span *ngIf="holidaylistform.controls.holiday_dec.errors.maxlength"> must be 2 characters </span>
                  <span *ngIf="holidaylistform.controls.holiday_dec.errors.max">Max number 31 only</span>
                </small> 
              </div>
            </div>
          </div>
        </div>
        <small id="mandatory_fields">* fields are Mandatory</small>
      </form> 
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" [disabled]="holidaylistform.invalid"  type="button"  (click)="add_holiday_list_form(holidaylistform.value)">Add</button> 
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      
    </div>
  </div>
</div>
</div>



<!-- Update Holiday Details -->

<div class="modal fade" id="editmodel" tabindex="-1" role="dialog" aria-labelledby="editmodel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">Update Holiday Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-success alert-dismissible" *ngIf="updatemsg">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
        {{updatemsg}}
      </div>
      <form [formGroup]="holidayeditlistform" (ngSubmit)="update_holiday_list_form(holidayeditlistform.value)" >
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="proj">Account Category*</label>
                <input type="hidden" class="form-control" [formControl]="holidayeditlistform.controls['edit_holiday_id']"> 
                <input disabled class="form-control" [formControl]="holidayeditlistform.controls['edit_account_category']"> 
                
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="proj">Account Name*</label>
                <input disabled class="form-control"  [formControl]="holidayeditlistform.controls['edit_account_name']"> 
                
                
                
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="proj">Project Name*</label>
                <input disabled class="form-control" [formControl]="holidayeditlistform.controls['edit_project_name']"> 
                
              </div>
            </div>
            <div class="col-md-6">
              <label for="proj">Year*</label>
              <input disabled class="form-control"  [formControl]="holidayeditlistform.controls['edit_project_year']"> 
              
            </div>
          </div>
          
          <div class="row mt">            
            <div class="col-md-4 monthadjcss">
              <div class="form-group">
                <div class="col-md-6"><label>January</label></div>
                <div class="col-md-6">
                  
                  <input type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  name="jan" placeholder="Jan" class="form-control"  [formControl]="holidayeditlistform.controls['jan_edit']"> 
                  <small class="text-danger" *ngIf="holidayeditlistform.controls.jan_edit.errors && (holidayeditlistform.controls.jan_edit.dirty || holidayeditlistform.controls.jan_edit.touched) && !holidayeditlistform.controls.jan_edit.valid">
                    <span *ngIf="holidayeditlistform.controls.jan_edit.errors.maxlength"> must be 2 characters </span>
                    <span *ngIf="holidayeditlistform.controls.jan_edit.errors.max"> max no 31 </span>
                  </small>  
                </div>              
              </div>
            </div>
            <div class="col-md-4 monthadjcss">
              <div class="form-group">
                <div class="col-md-6"><label>February</label></div>
                <div class="col-md-6">
                  <input type="text"  placeholder="Feb" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"   name="feb" class="form-control" [formControl]="holidayeditlistform.controls['feb_edit']" >
                  <small class="text-danger" *ngIf="holidayeditlistform.controls.feb_edit.errors && (holidayeditlistform.controls.feb_edit.dirty || holidayeditlistform.controls.feb_edit.touched) && !holidayeditlistform.controls.feb_edit.valid">
                    <span *ngIf="holidayeditlistform.controls.feb_edit.errors.maxlength"> must be 2 characters </span>
                    <span *ngIf="holidayeditlistform.controls.feb_edit.errors.max"> max no 28 </span>
                  </small> 
                  
                </div>
              </div>
            </div>
            <div class="col-md-4 monthadjcss">
              <div class="form-group">
                <div class="col-md-6"><label>March</label></div>
                <div class="col-md-6">
                  <input type="text" placeholder="Mar" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  name="mar"  class="form-control" [formControl]="holidayeditlistform.controls['mar_edit']">
                  <small class="text-danger" *ngIf="holidayeditlistform.controls.mar_edit.errors && (holidayeditlistform.controls.mar_edit.dirty || holidayeditlistform.controls.mar_edit.touched) && !holidayeditlistform.controls.mar_edit.valid">
                    <span *ngIf="holidayeditlistform.controls.mar_edit.errors.maxlength"> must be 2 characters </span>
                    <span *ngIf="holidayeditlistform.controls.mar_edit.errors.max"> max no 31 </span>
                  </small> 
                </div>
              </div>
            </div>
          </div>
          <div class="row mt">            
            <div class="col-md-4 monthadjcss">
              <div class="form-group">
                <div class="col-md-6"><label>April</label></div>
                <div class="col-md-6">
                  <input type="text"  placeholder="Apr"  name="apr" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  class="form-control" [formControl]="holidayeditlistform.controls['Apr_edit']">
                  <small class="text-danger" *ngIf="holidayeditlistform.controls.Apr_edit.errors && (holidayeditlistform.controls.Apr_edit.dirty || holidayeditlistform.controls.Apr_edit.touched) && !holidayeditlistform.controls.Apr_edit.valid">
                    <span *ngIf="holidayeditlistform.controls.Apr_edit.errors.maxlength"> must be 2 characters </span>
                    <span *ngIf="holidayeditlistform.controls.Apr_edit.errors.max"> max no 30 </span>
                  </small> 
                </div>
              </div>
            </div>
            <div class="col-md-4 monthadjcss">
              <div class="form-group">
                <div class="col-md-6"><label>May</label></div>
                <div class="col-md-6">
                  <input type="text" placeholder="May" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  name="may" class="form-control" [formControl]="holidayeditlistform.controls['may_edit']">
                  <small class="text-danger" *ngIf="holidayeditlistform.controls.may_edit.errors && (holidayeditlistform.controls.may_edit.dirty || holidayeditlistform.controls.may_edit.touched) && !holidayeditlistform.controls.may_edit.valid">
                    <span *ngIf="holidayeditlistform.controls.may_edit.errors.maxlength"> must be 2 characters </span>
                    <span *ngIf="holidayeditlistform.controls.may_edit.errors.max"> max no 31 </span>
                  </small> 
                </div>
              </div>
            </div>
            <div class="col-md-4 monthadjcss">
              <div class="form-group">
                <div class="col-md-6"><label>June</label></div>
                <div class="col-md-6">
                  <input type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  placeholder="Jun"  name="june" class="form-control" [formControl]="holidayeditlistform.controls['jun_edit']">
                  <small class="text-danger" *ngIf="holidayeditlistform.controls.jun_edit.errors && (holidayeditlistform.controls.jun_edit.dirty || holidayeditlistform.controls.jun_edit.touched) && !holidayeditlistform.controls.jun_edit.valid">
                    <span *ngIf="holidayeditlistform.controls.jun_edit.errors.maxlength"> must be 2 characters </span>
                    <span *ngIf="holidayeditlistform.controls.jun_edit.errors.max"> max no 30 </span>
                  </small> 
                </div>
              </div>
            </div>
          </div>
          <div class="row mt">            
            <div class="col-md-4 monthadjcss">
              <div class="form-group">
                <div class="col-md-6"><label>July</label></div>
                <div class="col-md-6">
                  <input type="text" placeholder="Jul" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  name="july" class="form-control"  [formControl]="holidayeditlistform.controls['jul_edit']">
                  <small class="text-danger" *ngIf="holidayeditlistform.controls.jul_edit.errors && (holidayeditlistform.controls.jul_edit.dirty || holidayeditlistform.controls.jul_edit.touched) && !holidayeditlistform.controls.jul_edit.valid">
                    <span *ngIf="holidayeditlistform.controls.jul_edit.errors.maxlength"> must be 2 characters </span>
                    <span *ngIf="holidayeditlistform.controls.jul_edit.errors.max"> max no 31 </span>
                  </small> 
                </div>
              </div>
            </div>
            <div class="col-md-4 monthadjcss">
              <div class="form-group">
                <div class="col-md-6"><label>August</label></div>
                <div class="col-md-6">
                  <input type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  placeholder="Aug" name="aug" class="form-control" [formControl]="holidayeditlistform.controls['aug_edit']">
                  <small class="text-danger" *ngIf="holidayeditlistform.controls.aug_edit.errors && (holidayeditlistform.controls.aug_edit.dirty || holidayeditlistform.controls.aug_edit.touched) && !holidayeditlistform.controls.aug_edit.valid">
                    <span *ngIf="holidayeditlistform.controls.aug_edit.errors.maxlength"> must be 2 characters </span>
                    <span *ngIf="holidayeditlistform.controls.aug_edit.errors.max"> max no 31 </span>
                  </small> 
                </div>
              </div>
            </div>
            <div class="col-md-4 monthadjcss">
              <div class="form-group">
                <div class="col-md-6"><label>September</label></div>
                <div class="col-md-6">
                  <input type="text" placeholder="Sep" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  name="sep"class="form-control" [formControl]="holidayeditlistform.controls['sep_edit']">
                  <small class="text-danger" *ngIf="holidayeditlistform.controls.sep_edit.errors && (holidayeditlistform.controls.sep_edit.dirty || holidayeditlistform.controls.sep_edit.touched) && !holidayeditlistform.controls.sep_edit.valid">
                    <span *ngIf="holidayeditlistform.controls.sep_edit.errors.maxlength"> must be 2 characters </span>
                    <span *ngIf="holidayeditlistform.controls.sep_edit.errors.max"> max no 30</span>
                  </small> 
                </div>
              </div>
            </div>
          </div>
          <div class="row mt">            
            <div class="col-md-4 monthadjcss">
              <div class="form-group">
                <div class="col-md-6"><label>October</label></div>
                <div class="col-md-6">
                  <input type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  placeholder="Oct" name="oct" class="form-control" [formControl]="holidayeditlistform.controls['oct_edit']">
                  <small class="text-danger" *ngIf="holidayeditlistform.controls.oct_edit.errors && (holidayeditlistform.controls.oct_edit.dirty || holidayeditlistform.controls.oct_edit.touched) && !holidayeditlistform.controls.oct_edit.valid">
                    <span *ngIf="holidayeditlistform.controls.oct_edit.errors.maxlength"> must be 2 characters </span>
                    <span *ngIf="holidayeditlistform.controls.oct_edit.errors.max"> max no 31</span>
                  </small> 
                </div>
              </div>
            </div>
            <div class="col-md-4 monthadjcss">
              <div class="form-group">
                <div class="col-md-6"><label>November</label></div>
                <div class="col-md-6">
                  <input type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  placeholder="Nov" name="nov" class="form-control" [formControl]="holidayeditlistform.controls['nov_edit']">
                  <small class="text-danger" *ngIf="holidayeditlistform.controls.nov_edit.errors && (holidayeditlistform.controls.nov_edit.dirty || holidayeditlistform.controls.nov_edit.touched) && !holidayeditlistform.controls.nov_edit.valid">
                    <span *ngIf="holidayeditlistform.controls.nov_edit.errors.maxlength"> must be 2 characters </span>
                    <span *ngIf="holidayeditlistform.controls.nov_edit.errors.max"> max no 30</span>
                  </small> 
                </div>
              </div>
            </div>
            <div class="col-md-4 monthadjcss">
              <div class="form-group">
                <div class="col-md-6"><label>December</label></div>
                <div class="col-md-6">
                  <input type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  placeholder="Dec" name="dec" class="form-control" [formControl]="holidayeditlistform.controls['dec_edit']">
                  <small class="text-danger" *ngIf="holidayeditlistform.controls.dec_edit.errors && (holidayeditlistform.controls.dec_edit.dirty || holidayeditlistform.controls.dec_edit.touched) && !holidayeditlistform.controls.dec_edit.valid">
                    <span *ngIf="holidayeditlistform.controls.dec_edit.errors.maxlength"> must be 2 characters </span>
                    <span *ngIf="holidayeditlistform.controls.dec_edit.errors.max"> max no 31</span>
                  </small> 
                </div>
              </div>
            </div>
          </div>
          <small id="mandatory_fields">* fields are Mandatory</small>
          <div class="modal-footer">
            <button type="submit"  [disabled]="holidayeditlistform.invalid"   class="btn btn-success">Update</button> 
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)='closemsg()'>Close</button>
            
          </div>
        </div>
      </form> 
    </div>
  </div>
</div>