<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<div class="container-fluid">

  <h2>Projects Details</h2>
 
 <table id="example" class="display" style="width:100%" datatable >
  <thead>
      <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Office</th>
          <th>Age</th>
          <th>Start date</th>
          <th>Salary</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let projectslist of projectslists">
          <td>{{projectslist.name}}</td>
          <td>{{projectslist.position}}</td>
          <td>{{projectslist.office}}</td>
          <td>{{projectslist.age}}</td>
          <td>{{projectslist.start_date}}</td>
          <td>{{projectslist.salary}}</td>
      </tr>
  </tbody>
</table>

</div>

