<div class="row">
  <div class="container-fluid">
    
    <h2>Access Details</h2>
    <div class="panel panel-default">
      
      <div class="panel-heading">Search Access Details
        <button *ngIf="role" type="button" class="btn btn-success fa fa-plus-circle" data-toggle="modal" data-target="#addaccessdetails" style="float:right" (click)='closemsg()'>
          &nbsp;&nbsp;Add</button>
          
        </div> 
        <div class="panel-body">
          <div>
            <div id="addaccessdetails" class="modal fade" role="dialog" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Access Details</h4>
                  </div>
                  <div class="alert alert-success alert-dismissible" *ngIf="addmsg">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
                    {{addmsg}}
                  </div>
                  <div class="alert alert-danger alert-dismissible" *ngIf="adderror">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
                    {{adderror}}
                  </div>
                  <form [formGroup]="addaccessdetails" (ngSubmit)="add_accessdetails(addaccessdetails.value)">
                    <div class="modal-body">
                      <div class="form-row">
                        <label>Associate ID*</label>
                        <input type="text" class="form-control" placeholder="Associate ID" [formControl]="addaccessdetails.controls['addassociateid']" />
                        <div class="text-danger" *ngIf="addaccessdetails.controls.addassociateid.errors && (addaccessdetails.controls.addassociateid.dirty || addaccessdetails.controls.addassociateid.touched) && !addaccessdetails.controls.addassociateid.valid">
                            <span *ngIf="addaccessdetails.controls.addassociateid.errors.required">Associate Id is required</span>
                            <span *ngIf="addaccessdetails.controls.addassociateid.errors.maxlength">Associate Id length should be 10 characters</span>
                            <span *ngIf="addaccessdetails.controls.addassociateid.errors.minlength">Associate Id length should be 10 characters</span>
                            <span *ngIf="addaccessdetails.controls.addassociateid.errors.pattern">Empty Spaces are not allowed/pattern not match</span> 
                          </div>
                        <label>Associate Name*</label>
                        <input type="text" class="form-control" placeholder="Associate Name" [formControl]="addaccessdetails.controls['addassociatename']"/>
                        <div class="text-danger" *ngIf="addaccessdetails.controls.addassociatename.errors && (addaccessdetails.controls.addassociatename.dirty || addaccessdetails.controls.addassociatename.touched) && !addaccessdetails.controls.addassociatename.valid">
                            <span *ngIf="addaccessdetails.controls.addassociatename.errors.required">Associate Name is required</span>
                            <span *ngIf="addaccessdetails.controls.addassociatename.errors.maxlength">Associate Name length should not exceed 50 characters</span>
                            <span *ngIf="addaccessdetails.controls.addassociatename.errors.pattern">Empty Spaces are not allowed/pattern not match</span> 
                          </div>
                        <label>Access Type*</label>
                        <select class="form-control" [formControl]="addaccessdetails.controls['addaccesstype']">
                          <option [value]="null" disabled selected hidden style="color:#a4b2ba;">Select Access Type</option>
                          <option *ngFor="let pro of accessTypes" [value]=pro.role>{{pro.type}}</option>
                        </select>
                        
                        <label>Status*</label>
                        <select class="form-control" [formControl]="addaccessdetails.controls['addstatus']">
                          <option [value]="null" disabled selected hidden style="color:#a4b2ba;">Select Access Type</option>
                          <option *ngFor="let status of statuses" [value]=status.code>{{status.type}}</option>
                        </select>
                        <small id="mandatory_fields">* fields are Mandatory</small>
                        
                      </div>
                      <div class="modal-footer">
                        <button type="submit" [disabled]="addaccessdetails.invalid" class="btn btn-primary" data-create="modal">Add</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)='closemsg()'>Close</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-12" *ngIf="error">
              <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
                {{error}}
              </div>
            </div>
            <form [formGroup]="leaveform">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label>Associate ID</label>
                    <input type="text" class="form-control" [formControl]="leaveform.controls['associateid']" placeholder="Associate ID...">
                    
                    
                  </div>
                  <div class="col-md-6">
                    <label>Associate Name</label>
                    <input type="text" class="form-control" placeholder="Associate Name..." [formControl]="leaveform.controls['associatename']"/>
                    
                  </div>
                  
                  <div class="col-md-6">
                    <label>Access Type</label>
                    <select class="form-control" [formControl]="leaveform.controls['accesstype']">
                      <option value="" disabled selected hidden style="color:#a4b2ba;">Select Access Type</option>
                      <option *ngFor="let pro of accessTypes" [value]=pro.role>{{pro.type}}</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label>Status</label>
                    <select class="form-control" [formControl]="leaveform.controls['status']">
                      <option value="" disabled selected hidden style="color:#a4b2ba;">Select Access Type</option>
                      <option *ngFor="let status of statuses" [value]=status.code>{{status.type}}</option>
                    </select>
                  </div>
                </div>
                
                
              </div>
              
              <div class="text-center col-md-12">
                <button class="btn btn-primary col-md-offset-3 col-md-2" type="submit" (click)="searchleaves(leaveform.value)">Search</button>
                <button class="btn btn-danger col-md-offset-2 col-md-2"  type="button" (click)="[searchreset(),closemsg()]">Cancel</button>
              </div>
              
            </form>
 </div>
        </div>
      </div>
      <div class="alert alert-success alert-dismissible" *ngIf="deletemsg">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
        {{deletemsg}}
      </div>
      <div class="alert alert-danger alert-dismissible" *ngIf="delerror">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
        {{delerror}}
      </div>
      <div class="panel panel-default" *ngIf="accessdetails">
        <div class="panel-body">
          
          <div class="table-responsive">          
            <table class="display row-border hover" style="width:100%" datatable [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th>S. No</th>
                  <th>Associate ID</th>
                  <th>Associate Name</th>
                  <th>Access Type</th>
                  <th>Status</th>
                  <th>Edit/Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let accessdetail of accessdetails; index as i">
                  <td>{{i+1}}</td>
                  <td>{{accessdetail.gid}}</td>
                  <td>{{accessdetail.associateName}}</td>
                  <td>{{accessdetail.accessType}}</td>
                  <td>{{accessdetail.status}}</td>
                  
                  <td>
                    <button *ngIf="role" type="button" class="btn btn-info btn-sm fa fa-pencil" data-toggle="modal" data-target="#updateaccessdetails" (click)='setupdatemodel(accessdetail)'></button>&nbsp;
                    <button *ngIf="role" type="button" class="btn btn-danger btn-sm fa fa-trash" (click)="deletedata(accessdetail)"></button>
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="updateaccessdetails" class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Update Access Details</h4>
                </div>
                <div class="alert alert-success alert-dismissible" *ngIf="updatemsg">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
                    {{updatemsg}}
                  </div>
                <div class="alert alert-danger  alert-dismissible" *ngIf="updateerror">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)='closemsg()'>&times;</a>
                    {{updateerror}}
                  </div>
                <form [formGroup]="updateaccessdetails" (ngSubmit)="update_accessdetails(updateaccessdetails.value)">
                  <div class="modal-body">
                    <div class="form-row">
                      <label>Associate ID*</label>
                      <input class="form-control" [formControl]="updateaccessdetails.controls['updateassociateid']" disabled>
                      <label>Associate Name*</label>
                      
                      <input class="form-control" [formControl]="updateaccessdetails.controls['updateassociatename']">
                      <div class="text-danger" *ngIf="updateaccessdetails.controls.updateassociatename.errors && (updateaccessdetails.controls.updateassociatename.dirty || updateaccessdetails.controls.updateassociatename.touched) && !updateaccessdetails.controls.updateassociatename.valid">
                          <span *ngIf="updateaccessdetails.controls.updateassociatename.errors.required">Associate Name is required</span>
                          <span *ngIf="updateaccessdetails.controls.updateassociatename.errors.maxlength">Associate Name length should not exceed 50 characters</span>
                          <span *ngIf="updateaccessdetails.controls.updateassociatename.errors.pattern">Empty Spaces are not allowed/pattern not match</span> 
                        </div>
                      <label>Access Type*</label>
                      <select class="form-control" [formControl]="updateaccessdetails.controls['updateaccesstype']">
                        <option [value]="null" disabled selected hidden style="color:#a4b2ba;">Select Access Type</option>
                        <option *ngFor="let pro of accessTypes" [value]=pro.role>{{pro.type}}</option>
                      </select>
                      <label>Status*</label>
                      <select class="form-control" [formControl]="updateaccessdetails.controls['updatestatus']">
                          <option [value]="null" disabled selected hidden style="color:#a4b2ba;">Select Access Type</option>
                          <option *ngFor="let status of statuses" [value]=status.code>{{status.type}}</option>
                        </select>                      
                    </div>
                    <div class="modal-footer">
                      <button type="submit" [disabled]="updateaccessdetails.invalid" class="btn btn-primary" data-create="modal">Update</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)='closemsg()'>Close</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>  
           
        </div>             
      </div>
    </div>
    
    